@import url('https://fonts.googleapis.com/css?family=Bad+Script|Raleway');

html,
body {
  height: 100%;
}

.faNav{
    color: white;
}

.navbar{
    background: url("img/3dBackground.webp")no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nav-link{
  color: white!important;
  font-weight:bold;
}

.hoverColor{
    color: rgb(227, 190, 66);
}

#navbarLogo{
    height: 27px;
    width: auto;
}

.title{
    font-size: 65px;
    font-family: 'Bad Script', cursive;
    color: #153354;
}

.text{
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    color: #153354;
}

.titleWhite{
    font-size: 65px;
    font-family: 'Bad Script', cursive;
    color: white;
}

.textWhite{
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
}

.sectionContainer{
    padding-top: 10vh;
    padding-bottom: 10vh;
    
}

.dropdown-menu{
    background-color: transparent !important;
}

.dropdown-item{
    color: white !important;
    font-size: 16px !important;
    font-weight:bold !important;
}
.dropdown-item:hover{
    background-color: transparent !important;
}

#home{
    width: 100%;
    height: 100vh;
    background-image: url("img/3dBackground.webp"); 
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.homeButton{
    border-radius: 25px;
    border-style: solid;
    width: 180px;
    height: 50px;
    position: relative;
    background-color: transparent;
    color: rgb(227, 190, 66);
    border-color: rgb(227, 190, 66);
    font-weight: bold;
    z-index:+1 !important;
    cursor: pointer;
}

.homeButton:hover{
    color: white;
    border-color: white;
    background-color: rgb(227, 190, 66);
}

.homeButton > a{
    color: inherit;
}

#hatHome{
    width: 5%;
    position: absolute;
    top:-10%;
    left:0;
}

#logoHome{
    margin-bottom: 5%;
}

#homeContainer{
    color: white;
}

h1 {
    font-size: 65px;
    font-family: 'Bad Script', cursive;
}

p {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}

#homeContainer > .btn {
    font-size: 17px;
    border-radius: 25px;
}

i > span{
    color: rgb(227, 190, 66);;
}

#learnMore{
    width: 100%;
    height: auto;
    background-color: white;
    
}

.roundImg{
    border-radius: 35px !important;
    box-shadow: 0 5px 5px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.roundBackImg{
    margin-top: 3%;
    background-color:white;
    border-radius: 35px !important;
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.45), 0 5px 5px rgba(255, 255, 255, 0.44);
}

.titleFrontCard{
    margin-top: 5%;
    font-size: 35px;
    font-family: 'Bad Script', cursive;
}

.textFrontCard{
    color: #153354;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    text-align: justify;
     margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 7%;
}

.titleBackCard{
    margin-top: 5%;
    font-size: 35px;
    color: white;
    font-family: 'Bad Script', cursive;
}

.textBackCard{
    color: white;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 7%;
    text-align: justify;
}

.alphaPreview{
    z-index:+1 !important;
}

.alphaPreview > img{
    width: 30vw;
}

.alphaPreview  > .subTitle{
    color: #153354;
    font-size: 40px;
    font-family: 'Bad Script', cursive;
}

#learnMoreContainer {
    margin: 3%;
}

#learnMoreContainer > .text{
    color: #153354;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

#learnMoreContainer > .title{
    color: #153354;
    font-size: 25px;
    font-family: 'Bad Script', cursive;
    font-weight: bold;
} 

#learnMoreButton{
    border-radius: 25px !important;
    border-style: solid !important;
    width: 180px !important;
    height: 50px !important;
    background-color: #153354 !important;
    color: white!important;
    font-weight: bold !important;
    font-size: 16px;
    cursor: pointer;
}

#learnMoreButton:hover{
    color: #153354 !important;
    background-color: 
    white!important;
}

#learnMorePlatform{
    border-radius: 25px !important;
    border-style: solid !important;
    width: 180px !important;
    height: 50px !important;
    background-color: transparent !important;
    color: #153354 !important;
    font-weight: bold !important;
    font-size: 16px;
    cursor: pointer;
}

#learnMorePlatform:hover{
    color: white !important;
    background-color: #153354 !important;
}

.paragraphLearnMore{
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
}

.learnMoreContainer2{
    margin: 3%;
}

#whitepaper{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#hrWhitepaper{
    border: none;
    height: 1px;
    color: #153354;
    background-color: #153354;
    width: 50%;
}

#platform{
    width: 100%;
    height: auto;
    background-color: #153354;
}

.hatImg{
    width: 250px;
}

#subTitlePlatform{
    color: rgb(227, 190, 66);
    font-size: 45px;
    font-weight:bold;
}

.poweredByEthImg{
    width: 250px;
    margin: 3%;
}

#crowdfund{
    width: 100%;
    height: auto;
    background-color: white;
}

.sectionContainer > .text {
    font-size: 23px;
    margin-left: 20%;
    margin-right: 20%;
}

#crowdfund > .sectionContainer > hr{
    border: none;
    margin-top: 3%;
    margin-bottom: 3%;
    height: 1px;
    width: 60vw;
    color: #153354;
    background-color: #153354;
}

.textSubscribe{
    font-family: 'Bad Script', cursive;
    color: #153354;
    font-size: 30px;
}

.blue{
    color: #153354;
}

.margin-top{
    margin-top: 5%;
}

#CountDownTimer{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


/* ROADMAP SECTION */
#roadmap{
    width: 100%;
    height: 100vh;
    background-color: #153354;
    color: white;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#roadmap > .sectionContainer > hr{
    border: none;
    margin-top: 3%;
    margin-bottom: 3%;
    height: 1px;
    width: 60vw;
    color: white;
    background-color: white;
}

.card{
    border-radius: 25px !important;
    border-style: solid !important;
}

#SubscribeButton{
    border-radius: 25px !important;
    border-style: solid !important;
    width: 180px !important;
    height: 50px !important;
    background-color: transparent !important;
    color: #153354 !important;
    font-weight: bold !important;
    font-size: 16px;
    cursor: pointer;
}

#SubscribeButton:hover{
    color: white !important;
    background-color: #153354 !important;
}

/* TEAM SECTION */

#team{
    width: 100%;
    height: 100vh;
    background-color: white;
    color: #153354;
    }

.faTeam{
    color: #153354;
    font-size: 25px;
}

.faTeam:hover{
    color: rgb(227, 190, 66);;
}

#teamMember > img{
    width: 140px;
}

#teamMember > hr{
    margin-top: -2%;
    border: none;
    height: 1px;
    color: #153354;
    background-color: #153354;
    width: 90%;
}

#teamMemberJob{
    margin-top: -2%;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

#teamMemberName{
    margin-top: 2%;
    font-family: 'Bad Script', cursive;
    font-size: 20px;
    font-weight: bold;
}

.box{
    background-color: rgba(158,158,158,.2);
    padding: 3%;
    cursor:pointer;
}

.teamSelect:hover{
    cursor:pointer;
    color: rgb(227, 190, 66);
}

.hidden{
    display: none;
}

.flip{
    width: 250px;
    height: 350px;
    margin-bottom: 3%;
    }

.front{
    width: 250px;
    margin-bottom: 3%;
    background-color: white;
    color: #153354;
    border: 2px solid;
    border-radius: 25px;
    border-color:#153354; 
    height: 200px;
    cursor: pointer;
    padding: 3%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

.front:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

 
#rotateFrontBottom{
     color:gray;
 }

#rotateFrontBottom > hr{
    border: none;
    height: 1px;
    color: #153354;
    background-color: #153354;
    width: 90%;
 }

 #rotateFrontBottom:hover{
     color:#153354;
 }


.back{
    background-color: #153354;
    color: white;
    border: 2px solid;
    border-radius: 25px;
    border-color:white; 
    height: 200px;
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#backTitle {
    margin-top: 10%;
    margin-left: 3%;
    margin-right: 3%;
    font-family: 'Bad Script', cursive;
    font-size: 18px;
}

#backText{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

#rotateBackBottom{
    color:gray;
 }

#rotateBackBottom > hr{
    border: none;
    height: 1px;
    color: white;
    background-color: white;
    width: 80%;
 }

 #rotateBackBottom:hover{
     color:white;
 }

.playingCards{
    width: 40px;
}

/* Patrners SECTION */
#ourPartners{
    width: 100%;
    height: 100%;
    background-color: white;
    color: #153354;
}

.imgPartner{
    width: 120px;
    height: auto;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .2s ease-in-out;
}

.imgPartner:hover{
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.1);
}

.hrBlue{
    border: none;
    margin-top: 3%;
    margin-bottom: 3%;
    height: 1px;
    width: 70vw;
    color: #153354;
    background-color: #153354;
}

/* Footer */

.list-group{
    margin-bottom: 1%;
    width: 70%;
}

.footIcon{
    color:#153354;
}

.footIcon:hover{
    color: rgb(227, 190, 66);
    -webkit-transform: scale(1.1);
}

.copyright{
    margin: 3%;
}

@media screen and (max-width: 1140px) {

    .faNav{
        margin-left: 10px;
    }

    #team{
        width: 100%;
        height: 100%;
    }
  
}

@media screen and (max-width: 480px) {

    .faNav{
        margin-left: 10px;
    }

     .title, .titleWhite, #homeContainer > h1{
        font-size: 25px !important;
    }

    .text, .textWhite, #homeContainer > p{
        font-size: 10px !important;
    }

    #homeContainer{
        padding: 3%;
        }

    #logoHome{
        width: 200px;
        height: auto;
        }
    
    #team{
        width: 100%;
        height: 100%;
    }
    
}

