@import url('https://fonts.googleapis.com/css?family=Bad+Script|Raleway');

canvas {
	background-color: transparent;
    position:absolute; 
    width: 100%;
    height: 100vh;
}

.fa-bars{
    color: white;
}

.navbar{
    opacity: 1 !important;
}

.nav-link{
  color: white!important;
  font-weight:bold;
}

#navbarLogo{
    height: 27px;
    width: auto;
}

.dropdown-menu{
    background-color: transparent !important;
}

.dropdown-item{
    color: white !important;
    font-size: 16px !important;
    font-weight:bold !important;
}
.dropdown-item:hover{
    background-color: transparent !important;
}

#home{
    width: 100%;
    height: 100vh;
    background-image: url("img/3dBackground.webp"); 
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#logoHome{
    margin-bottom: 5%;
}

#homeContainer{
    color: white;
    position:absolute;
}

h1 {
    font-size: 65px;
    font-family: 'Bad Script', cursive;
}

p {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}

#homeContainer > .btn {
    font-size: 17px;
    border-radius: 25px;
}

i > span{
    color: red;
}

#whitepaper{
    width: 100%;
    height: 100vh;
    background-color: white;
}

#platform{
    width: 100%;
    height: 100vh;
    background-color: #153354;
}


#crowdfund{
    width: 100%;
    height: 100vh;
    background-color: white;
}

#roadmap{
    width: 100%;
    height: 100vh;
    background-color: #153354;
    color: white;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#roadmapContainer{
    width: 100vw; 
    height: auto;
}

#roadmapContainer > img{
    width: 90vw; 
    height: auto;   
    margin: auto;
}

#roadmapContainer > hr{
    border: none;
    height: 1px;
    width: 60vw;
    color: white;
    background-color: white;
}

#roadmapContainer > img{
    margin-top: 4%;
}


#team{
    width: 100%;
    height: 100vh;
    background-color: white;
    color: #153354;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center; 
}

@media screen and (max-width: 480px) {

    canvas {
        display: none;
    }

    .fa{
        margin-left: 10px;
    }

    #homeContainer > h1{
        font-size: 25px;
    }

    #homeContainer > p{
        font-size: 10px;
    }

    #homeContainer{
        padding: 3%;
        }

    #logoHome{
        width: 200px;
        height: auto;
        }
    
}

